:root {
    --background: #b3b5c5;
    --border: rgb(16, 11, 29);
    --cardBackground: #8c85b1;
    --textColorLight: white;
    --textColorDark: black;
    --button: #464b92;
    --buttonHover: rgb(102, 112, 204);
    --shadow: rgb(56, 20, 20);
    --titlebackground: #374270;
    --border-radius: 0.3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    background-color: var(--background);
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 80%;
    color: var(--textColorLight);
    border-radius: var(--border-radius);
    margin: 5px auto 5px auto;
    box-shadow: 3px 3px var(--shadow);
    opacity: 80%;
}

#sadCoordinatesContainer {
    padding: 0;
}

#sadLat,
#sadLong {
    background-color: var(--button);
    padding: 1%;
}

#newsButton,
#spaceNewsButton,
#clearListBtn,
#showSaved 
{
    background-color: var(--button);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px var(--shadow);
    color: var(--textColorLight);
    display: block;
    font-size: 1.3rem;
    margin: 10px auto 10px auto;
    opacity: 80%;
    outline: none;
    padding: 6px 5px;
    text-decoration: none;
    transform: translate(-1px, -1px);
    width: 80%;
}

#newsButton:hover,
#spaceNewsButton:hover,
#clearListBtn:hover,
#showSaved:hover,
li:hover {
    color: var(--textColorLight);
    background-color: var(--buttonHover);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--shadow);
}

li {
    background-color: var(--background);
    border-radius: var(--border-radius);
    color: var(--textColorLight);
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    opacity: 80%;
    padding: 2%;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translate(-1px, -1px);
    width: 100%;
}

.hide {
    display: none;
}

input.storageCheckbox {
    float: right;
    height: 20px;
    float: right;
    padding: 0;
    width: 20px;
}

#map {
    height: 500px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Below is CSS for background animation */

@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;

}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
}

#background {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
}